@import url(node_modules/normalize.css/normalize.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
    box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

html, body {
	margin: 0;
	background: #eee;
	height: 100%;
}

h1 {
	margin: 0 0 1em 0;
}

.container {
	background: #fff;
	color: #666;
	padding: 1em 1em;
	margin: 0;
	transition-duration: 0.4s;
	transition-timing-function: ease-out;
	width:100%;
	box-shadow: none;
}

@media only screen and (min-width: 768px) {
	.container {
		width:600px;
		margin: 2em auto;
		padding: 2em 2em;
		box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
	}
}

